<div [class.horizontal]="labelWidth" [class]="containerClass">
  <div class="w-full" [class.flex-auto]="labelWidth">
    @if (type === "password") {
      <p-floatlabel variant="in">
        <p-password
          [inputId]="inputId"
          [formControl]="internalControl"
          (onBlur)="onBlur()"
          [toggleMask]="toggleMask"
          [feedback]="feedback"
          [class.ng-invalid]="isInvalid"
          class="w-full"
          inputStyleClass="w-full"
        />
        @if (label) {
          <label [for]="inputId">{{ label }}</label>
        }
      </p-floatlabel>
    } @else if (type === "datepicker" && control) {
        <p-floatlabel variant="in">
          <p-datepicker
            [inputId]="inputId"
            [formControl]="control"
            (onBlur)="onBlur()"
            [showIcon]="showDateIcon"
            [dateFormat]="dateFormat"
            autocomplete="off"
            [class.ng-invalid]="isInvalid"
            [class.p-filled]="!!control.value"
            class="w-full"
            inputStyleClass="w-full"
          />
          @if (label) {
            <label [for]="inputId">{{ label }}</label>
          }
        </p-floatlabel>
    } @else if (type === "textarea") {
      <p-floatlabel variant="in">
        <textarea
          [id]="inputId"
          [value]="value"
          (input)="onInputChange($event)"
          (blur)="onBlur()"
          [disabled]="disabled"
          [rows]="rows"
          [class.ng-invalid]="isInvalid"
          [class.p-filled]="!!value.trim()"
          class="w-full resize-none"
          fluid
          pTextarea
        ></textarea>
        @if (label) {
        <label [for]="inputId">{{ label }}</label>
        }
      </p-floatlabel>
    } @else {
      <p-floatlabel variant="in">
        <p-iconfield>
          @if (icon) {
            <p-inputicon [class]="'pi pi-' + icon" />
          }
          <input
            [id]="inputId"
            [type]="type"
            [value]="value"
            (input)="onInputChange($event)"
            (blur)="onBlur()"
            [disabled]="disabled"
            [class.ng-invalid]="isInvalid"
            [class.p-filled]="!!value.trim()"
            class="w-full"
            pInputText
          />
        </p-iconfield>
        @if (label) {
          <label [for]="inputId">{{ label }}</label>
        }
      </p-floatlabel>
    }

    @if (currentErrors.length > 0) {
      <small class="p-error block pl-2">
        <span class="text-red-500">{{ currentErrors[0] | translate }}</span>
      </small>
    }
  </div>
</div>
