<form
  [formGroup]="form"
  class="w-full flex flex-col gap-2"
  (ngSubmit)="onSubmit()"
>
  <div
    class="post-composer rounded-lg border border-violet-200 dark:border-slate-700 overflow-hidden bg-surface-0 dark:bg-slate-950"
  >
    <div class="post-composer__input relative">
      <app-input-field
        [inputId]="inputId"
        formControlName="content"
        type="textarea"
        [rows]="rows"
        [label]="label | translate"
        [validationMessages]="validationMessages"
      />
      @if (selectedMedia(); as file) {
        <div class="relative bg-surface-0 dark:bg-slate-950">
          <img
            [src]="previewUrl()"
            [alt]="file.name"
            class="w-full h-auto object-cover object-top"
          />
          <p-button
            type="button"
            icon="pi pi-times"
            severity="danger"
            styleClass="p-button-rounded p-button-sm absolute top-1 right-1 shadow"
            (click)="clearMedia()"
          />
        </div>
      }
    </div>
    <p-fileupload
      #mediaUpload
      name="postMedia[]"
      [accept]="acceptFileTypes.join(', ')"
      [customUpload]="true"
      (onSelect)="onMediaSelect($event)"
    >
      <ng-template #header let-chooseCallback="chooseCallback">
        @if (!selectedMedia(); as file) {
          <p-button
            type="button"
            icon="pi pi-image"
            severity="secondary"
            styleClass="p-0 w-auto bg-transparent border-none text-primary"
            [pTooltip]="'post.attachMultimedia' | translate"
            tooltipPosition="bottom"
            tooltipStyleClass="text-xs"
            (onClick)="chooseCallback()"
          />
        }
      </ng-template>
      <ng-template
        #content
        let-file
        let-uploadCallback="uploadCallback"
      ></ng-template>
    </p-fileupload>
  </div>

  <p-button
    type="submit"
    [label]="submitLabel | translate"
    icon="pi pi-send"
    styleClass="w-full"
    [disabled]="form.invalid"
  />
</form>
