::ng-deep {
  textarea.p-textarea {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  .p-fileupload-header {
    justify-content: flex-end;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
  }

  .p-fileupload-content {
    border: none;
  }
}