<p-dialog
  [visible]="visible"
  [modal]="true"
  [styleClass]="`${styleClass} app-dialog-shell`"
  [position]="position"
  [draggable]="false"
  [closable]="true"
  [dismissableMask]="true"
  [closeOnEscape]="closeOnEscape"
  (visibleChange)="onVisibleChange($event)"
>
  <ng-template #headless>
    <div class="flex justify-between min-h-0 h-full">
      <div class="w-full flex flex-col items-start p-8 min-h-0 h-full">
        <div
          class="flex justify-between items-center w-full -mt-18"
          [class.flex-row]="showCloseInHeader"
        >
          <div
            class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-20 w-20 shrink-0"
          >
            <i class="!text-3xl" [class]="icon"></i>
          </div>
          @if (showCloseInHeader) {
            <p-button
              (click)="close()"
              severity="danger"
              icon="pi pi-times"
              class="w-10 h-10 shrink-0"
            />
          }
        </div>
        <span class="font-bold text-2xl block my-6">{{ title }}</span>
        <div class="app-dialog-body w-full min-h-0 flex-1 pr-1">
          <ng-content />
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
