<app-dialog
  [visible]="visible()"
  (visibleChange)="visible.set($event)"
  [title]="'changePassword.title' | translate"
  icon="pi pi-lock"
  styleClass="w-full sm:w-[500px]"
>
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="onChangePassword()"
    class="w-full flex flex-col gap-5"
  >
    <app-input-field
      [label]="'changePassword.currentPassword' | translate"
      inputId="currentPassword"
      formControlName="currentPassword"
      type="password"
      labelWidth="10rem"
    />
    <app-input-field
      [label]="'changePassword.newPassword' | translate"
      inputId="password"
      formControlName="password"
      type="password"
      labelWidth="10rem"
      [validationMessages]="validations.password"
    />
    <app-input-field
      [label]="'changePassword.confirmPassword' | translate"
      inputId="confirmPassword"
      formControlName="confirmPassword"
      type="password"
      labelWidth="10rem"
      [validationMessages]="validations.passwordConfirmation"
    />
  </form>

  <div dialogFooter class="w-full flex items-center justify-end gap-2 mt-6">
    <p-button
      type="button"
      [label]="'common.cancel' | translate"
      [outlined]="true"
      (click)="visible.set(false)"
      styleClass="w-32"
    />
    <p-button
      type="button"
      [label]="'common.save' | translate"
      (click)="onChangePassword()"
      styleClass="w-32"
      [disabled]="changePasswordForm.invalid"
    />
  </div>
</app-dialog>
