<app-dialog
  [visible]="visible()"
  (visibleChange)="visible.set($event)"
  [title]="'editProfile.title' | translate"
  icon="pi pi-user-edit"
  styleClass="w-full sm:w-[500px]"
>
  <form
    [formGroup]="editForm"
    (ngSubmit)="onEdit()"
    class="flex flex-col gap-5"
  >
    <app-input-field
      [label]="'editProfile.firstName' | translate"
      inputId="firstName"
      formControlName="firstName"
      labelWidth="10rem"
    />

    <app-input-field
      [label]="'editProfile.lastName' | translate"
      inputId="lastName"
      formControlName="lastName"
      labelWidth="10rem"
    />

    <app-input-field
      [label]="'editProfile.birthDate' | translate"
      inputId="birthDate"
      formControlName="birthDate"
      type="datepicker"
      [dateFormat]="'dd/mm/yy'"
      [showDateIcon]="true"
      labelWidth="10rem"
    />

    <app-input-field
      [label]="'editProfile.aboutMe' | translate"
      inputId="aboutMe"
      formControlName="aboutMe"
      type="textarea"
      [rows]="4"
      labelWidth="10rem"
      [validationMessages]="validations.aboutMe"
    />
  </form>

  <div dialogFooter class="w-full flex items-center justify-end gap-2 mt-6">
    <p-button
      type="button"
      [label]="'common.cancel' | translate"
      [outlined]="true"
      (click)="visible.set(false)"
      styleClass="w-32"
    />
    <p-button
      type="button"
      [label]="'common.save' | translate"
      (click)="onEdit()"
      styleClass="w-32"
      [disabled]="editForm.invalid"
    />
  </div>
</app-dialog>
