@if (user(); as userData) {
  <p-card class="shadow-lg">
    <div class="flex items-center space-x-4 mb-6">
      <app-avatar [userData]="userData" size="lg" />
      <div>
        <h2 class="text-2xl font-bold">
          {{ userData.username }}
        </h2>
        <p class="text-gray-400">{{ userData.email }}</p>
      </div>
    </div>

    <div class="space-y-3">
      <app-data-row label="Document ID" [value]="userData.documentId || '-'" />
      <app-data-row label="First Name" [value]="userData.firstName || '-'" />
      <app-data-row label="Last Name" [value]="userData.lastName || '-'" />
      <app-data-row
        label="Birth Date"
        [value]="(userData.birthDate | date: 'dd/MM/yyyy') || '-'"
      />
      <app-data-row label="Provider" [value]="userData.provider || '-'" />
      <app-data-row
        label="Status"
        [value]="userData.confirmed ? 'Confirmed' : 'Not Confirmed'"
        [icon]="
          userData.confirmed ? 'pi pi-check-circle' : 'pi pi-exclamation-circle'
        "
        [valueClass]="
          userData.confirmed
            ? 'text-green-600 font-medium'
            : 'text-amber-600 font-medium'
        "
      />
      <app-data-row
        label="Account"
        [value]="userData.blocked ? 'Blocked' : 'Active'"
        [icon]="userData.blocked ? 'pi pi-ban' : 'pi pi-check'"
        [valueClass]="
          userData.blocked
            ? 'text-red-600 font-medium'
            : 'text-green-600 font-medium'
        "
      />
      <app-data-row label="Role" [value]="userData.role.name || '-'" />
      <app-data-row
        label="About Me"
        [value]="userData.aboutMe || '-'"
        [vertical]="true"
      />
    </div>
    <div class="flex justify-end mt-6">
      <p-button
        label="Edit Profile"
        severity="primary"
        icon="pi pi-pencil"
        (click)="onEdit()"
      ></p-button>
    </div>
  </p-card>
} @else if (!isUserLoading() && !user()) {
  <div class="flex justify-center items-center h-64">Something went wrong</div>
}

@if (isUserLoading()) {
  <div class="flex justify-center items-center h-64">
    <app-spinner loadingText="Loading profile..." />
  </div>
}

<app-edit-profile-dialog></app-edit-profile-dialog>
