/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";
@use "tailwindcss";

@use "./app/core/styles/primeng-custom/p-button.scss";

@plugin "tailwindcss-primeui";
@layer theme, base, components, primeng, utilities;
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply bg-violet-50/50 text-gray-900 antialiased;
  }

  html.dark {
    @apply bg-gray-900 text-gray-100;
  }
}